/*Custom*/
.Nav-Links{
  padding:10px;
  color:#457b9d;
  text-decoration:none;
}
.Nav-Links:hover{
  color:#1d3557;
  padding:10px;
  text-decoration:none;
}
.cart{
  width:60px;
  height:40px;
  background-repeat: round;
  cursor:pointer;
  background-image:url("image/carts.png")
}
.cart:hover .cart-red{
  transform: scale(1.52);
  -ms-transform: scale(1.52);
}
.cart-red{
  background-color:#e63946;
  width:20px;
  height:20px;
  float:right;
  border-radius:20px;
  margin-right:4px;
  transition: .3s;
}



/*End*/



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
